*.pdf
*.svg
*.tmp
*.aux
*.tmp
*.bbl
*.tif
data/images/
data/unclean*
data/test_data
data/20*
*.DS_store
*.DS_Store
**ipynb_checkpoints**
*.pyc
__pycache__
*.key
*.ai
*egg*
data/csv/complete_mcmc_traces.csv
data/csv/complete_mcmc_shock_rate_idx.csv
